* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* header */

nav {
    width: 100%;
    /* height: 13vh; */
    min-height: 80px;
    padding: 32px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
}

picture img {
    max-height: 48px;
    vertical-align: middle;
    background-color: #fff;
}

.spacer {
    display: inline-block;
    /* Parent width - Logo width - Menu <ul> width */
    width: calc(100% - 132px - 276px);
}

nav ul {
    display: inline-block;
    vertical-align: middle;
}

nav>ul>li {
    display: inline-block;
    margin-right: 15px;
}

.last-item {
    margin: 0 !important;
}

nav li a {
    color: #fff;
}

.active {
    color: red;
    font-weight: bold;
}

nav li a:hover {
    color: yellow;
}


/* drop-down */

.drop-down-wrap {
    position: relative;
}
.drop-down {
    /* width: 130px; */
    background-color: #000;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 20px 15PX 20PX;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, transform 0.15s;
}

.drop-down li {
    margin-bottom: 10px;
    white-space: nowrap;
}

.drop-down a {
    text-align: center;
}

.drop-down-wrap:hover .drop-down {
    opacity: 1;
    visibility: visible;
}


/* header */
header {
    padding-top: 150px;
    text-align: center;
}

/* main content */


main {
    height: 100vh;
    min-height: 800px;
    text-align: center;
    padding-top: 50px;
}


/* TOP button */
.upto {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    color: white;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: small;
}



/* footer */

footer {
    /* height: 13vh; */
    background-color: #000;
    text-align: center;
    padding: 15px;
}

footer li {
    display: inline-block;
    margin-right: 15px;
}

footer hr {
    width: 80%;
    margin: 15px auto;
}

footer a, footer p {
    color: #fff;
}