* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* header */

nav {
    width: 100%;
    height: 13vh;
    min-height: 80px;
    padding: 32px;
    background-color: #000;
}

picture>img {
    max-height: 48px;
    vertical-align: middle;
}

.spacer {
    display: inline-block;
    /* Parent width - Logo width - Menu <ul> width */
    width: calc(100% - 132px - 276px);
}

nav ul {
    display: inline-block;
    vertical-align: middle;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

.last-item {
    margin-right: 0 !important;
}

nav li a {
    color: #fff;
}

.active {
    color: red;
    font-weight: bold;
}

nav li a:hover {
    color: yellow;
}


/* main content */


main {
    height: 74vh;
    text-align: center;
}

.content, aside {
    display: inline-block;
}

.content {
    padding: 30px;   
}

aside {
    width: 30%;
    background-color: #333;
    height: 100%;
    float: right;
}

aside h2 {
    color: #fff;
    padding: 30px;
}

aside li {
    padding: 15px;
    color: aqua;
}



/* footer */

footer {
    height: 13vh;
    background-color: #000;
    text-align: center;
    padding: 15px;
}

footer li {
    display: inline-block;
    margin-right: 15px;
}

footer hr {
    width: 80%;
    margin: 15px auto;
}

footer a, footer p {
    color: #fff;
}